@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.51rem;
}
section{
    padding:2rem 9%;
}
section:nth-child(even){
    background:#eee;
}

/*********** Header ***********/
header {
    position: fixed;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1.01rem 7.1%;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
header .logo {
    color: #192a56;
    font-size: 2.51rem;
    font-weight: bolder;
}
header .logo i {
    color: #27ae60;
}
header .navbar a{
    font-size: 1.71rem;
    color: #192a56;
    padding: 0 20px;
    border-radius: 5px;
}
header .navbar .active,
header .navbar a:hover {
    color: #fff;
    background: #27ae60;
}
header .icons i,
header .icpns a{
    cursor: pointer;
    margin-left: 5rem;
    background: #eee;
    border-radius: 50%;
    height: 4.51rem;
    line-height: 4.51rem;
    width: 4.51rem;
    text-align: center;
    font-size: 1.71rem;
    color: #192a56;
}
header .icons i:hover,
header .icons a:hover {
    background: #27ae60;
    color: #fff;
    transform: rotate(360deg);
}
header .icons #menu-bars {
    display: none;
}


/*********** Search Form  ***********/
header #search-form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    padding: 01rem;
    justify-content: center;
    align-items: center;
    top: -110%;
    left: 0;
}
header #search-form.active {
    top: 0;
}
header #search-form #search-box {
    color: #fff;
    background: none;
    width: 50.01rem;
    font-size: 3.1rem;
    border-bottom: .21rem solid #fff;
    text-transform: none;
    padding: 1.01rem 0;
}
header #search-form #search-box::placeholder {
    color: #eee;
    padding-left: 10px;
}
header #search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
header #search-form label {
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
}
header #search-form label:hover {
    color: #27ae60;
}
header #search-form #search-close {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 4rem;
    color: #fff;
}

/*********** Home ***********/
.home .home-container .home-swipe-slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    padding-top: 9rem;
}
.home .home-container .home-swipe-slide .home-image,
.home .home-container .home-swipe-slide .home-content{
    flex: 1 1 45rem;
}
.home .home-container .home-swipe-slide .home-image img {
    width: 100%;
}
.home .home-container .home-swipe-slide .home-content span{
    color: #27ae60;
    font-size: 2.51rem;
}
.home .home-container .home-swipe-slide .home-content h3 {
    color: #192a56;
    font-size: 7.1rem;
}
.home .home-container .home-swipe-slide .home-content p {
    color: #666;
    font-size: 2.21rem;
    padding: 5.1rem 0;
    line-height: 1.5;
}
.button{
    margin-top: 1.1rem;
    display: inline-block;
    font-size: 1.71rem;
    color:#fff;
    background: #192a56;
    border-radius: .5.1rem;
    cursor: pointer;
    padding: 0.81rem 3.1rem;
    border-radius: 5px;
}

.button:hover{
    background: #27ae60;
    letter-spacing: .1rem;
}
/*********** Media Queries  ***********/
@media screen and (max-width: 1050px){
    html {
        font-size: 50%;
    }
    header {
        padding:  1.01rem 2.01rem;
    }
}

@media screen and (max-width:768px){
    header .icons #menu-bars {
        display: inline-block;
    }
    header .navbar {
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        position: absolute;
        padding: 1.01rem;
        border-top: 1.01rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 1.01rem solid rgba(0, 0, 0, 0.2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        font-size: 2.01rem;
        background: #eee;
        display: block;
        padding: 1.51rem;
        margin: 1.01rem;
    }
    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }
}