@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.51rem;
}
section{
    padding:2rem 2.5%;
}
section:nth-child(even){
    background:#eee;
    height: 100vh;
}
.sub-heading {
    text-align: center;
    color: #27ae60;
    font-size: 2rem;
    padding-top: 1rem;
}
.heading {
    text-align: center;
    text-transform: uppercase;
    color: #192a56;
    font-size: 3rem;
    padding-bottom: 2rem;
}
.button{
    margin-top: 1.1rem;
    display: inline-block;
    font-size: 1.71rem;
    color:#fff;
    background: #192a56;
    border-radius: .5.1rem;
    cursor: pointer;
    padding: 0.81rem 3.1rem;
    border-radius: 5px;
}
.button:hover {
    color: #ffff;
    background: #27ae60;
    letter-spacing: 0.1rem;
}
/*********** Header ***********/
header {
    position: fixed;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1.01rem 7.1%;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
header .logo {
    color: #192a56;
    font-size: 2.51rem;
    font-weight: bolder;
}
header .logo i {
    color: #27ae60;
}
header .navbar a{
    font-size: 1.71rem;
    color: #192a56;
    padding: 0 20px;
    border-radius: 5px;
}
header .navbar .active,
header .navbar a:hover {
    color: #fff;
    background: #27ae60;
}
header .icons i,
header .icpns a{
    cursor: pointer;
    margin-left: 5rem;
    background: #eee;
    border-radius: 50%;
    height: 4.51rem;
    line-height: 4.51rem;
    width: 4.51rem;
    text-align: center;
    font-size: 1.71rem;
    color: #192a56;
}
header .icons i:hover,
header .icons a:hover {
    background: #27ae60;
    color: #fff;
    transform: rotate(360deg);
}
header .icons #menu-bars {
    display: none;
}


/*********** Search Form  ***********/
header #search-form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1004;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    padding: 01rem;
    justify-content: center;
    align-items: center;
    top: -110%;
    left: 0;
}
header #search-form.active {
    top: 0;
}
header #search-form #search-box {
    color: #fff;
    background: none;
    width: 50.01rem;
    font-size: 3.1rem;
    border-bottom: .21rem solid #fff;
    text-transform: none;
    padding: 1.01rem 0;
}
header #search-form #search-box::placeholder {
    color: #eee;
    padding-left: 10px;
}
header #search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
header #search-form label {
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
}
header #search-form label:hover {
    color: #27ae60;
}
header #search-form #search-close {
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 4rem;
    color: #fff;
}

/*********** Home ***********/

.home .home-container .home-swipe-slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    padding-top: 9rem;
    /* width: 20%; */
    transition: 2s;
}
.home .home-container .home-swipe-slide .home-image,
.home .home-container .home-swipe-slide .home-content{
    flex: 1 1 45rem;
}
.home .home-container .home-swipe-slide .home-image img {
    width: 100%;
}
.home .home-container .home-swipe-slide .home-content span{
    color: #27ae60;
    font-size: 2.51rem;
}
.home .home-container .home-swipe-slide .home-content h3 {
    color: #192a56;
    font-size: 7.1rem;
}
.home .home-container .home-swipe-slide .home-content p {
    color: #666;
    font-size: 2.21rem;
    padding: 5.1rem 0;
    line-height: 1.5;
}

.home-container .swiper-pagination-bullet-active {
    background: #27ae60;
}

/**************** Dishes **************/
.dishes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}
.dishes .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top:1.5rem;
    background:#eee;
    border-radius: 50%;
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #192a56;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: #27ae60;
    color:#fff;
}
.dishes .box-container .box .fa-heart{
    right:-15rem;
}

.dishes .box-container .box .fa-eye{
    left:-15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right:1.5rem;
}
.dishes .box-container .box:hover .fa-eye{
    left:1.5rem;
}
.dishes .box-container .box img{
    height:17rem;
    margin:1rem 0;
}
.dishes .box-container .box h3{
    color: #192a56;
    font-size: 2.5rem;
}
.dishes .box-container .box .stars{
    padding:1rem 0;
}
.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color: #27ae60;
}
.dishes .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

/**************** About****************/
.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
.about .row .image{
    flex:1 1 45rem;
}
.about .row .image img{ 
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
}
.about .row .content h3{
    color: #192a56;
    font-size: 4rem;
    padding:.5rem 0;
}
.about .row .content p{
    color: #666;
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}
.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}
.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}
.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:#27ae60;
}
.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:#192a56;
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

/* Menu  */
.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);    
}
.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}
.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}
.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: #192a56;
}
.menu .box-container .box .image .fa-heart:hover{
    background: #27ae60;
    color:#fff;
}
.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}
.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}
.menu .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: #27ae60;
}
.menu .box-container .box .content h3{
    color: #192a56;
    font-size: 2.5rem;
}
.menu .box-container .box .content p{
    color: #666;
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color: #27ae60;
    margin-left: 1rem;
    font-size: 2.5rem;
}

/*************** Review ***************/
.review {
    justify-content: center;
    align-items: center;
    align-content: center;
}
.review-slider{
    display: flex;
    height: 50vh;
    /* margin-bottom: 10px; */
}

.review .slide {
    padding: 2rem;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}
.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}
.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}
.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}
.review .slide .user h3{
    color: #192a56;
    font-size: 2rem;
    padding-bottom: .5rem;
}
.review .slide .user i{
    font-size: 1.3rem;
    color: #27ae60;
}
.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #666;
}
/************** Order Form ************/
.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
    border:.1rem solid rgba(0, 0, 0, 0.2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
}
.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .inputBox .input{
    width:49%;
}
.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color: #192a56;
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}
.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid #27ae60;
}
.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}
.order form .button{
    margin-top: 0;
}
/* Footer  */
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color: #192a56;
}
.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color: #666;
}
.footer .box-container .box a:hover{
    color: #27ae60;
    text-decoration: underline;
}
.footer .copyright{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: #192a56;
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}
.footer .copyright span{
    color: #27ae60;
}
.loader{
    position: fixed;
    top:0; 
    left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader img{
    width:35rem;
}
.loader.fade-out{
    top:-110%;
    opacity:0;
}
/*********** Media Queries  ***********/
@media screen and (max-width: 991px){
    html {
        font-size: 50%;
    }
    header {
        padding:  1.01rem 2.01rem;
    }
    section {
        padding: 2rem;
    }
    .dishes .box-container .box {
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    header .icons #menu-bars {
        display: inline-block;
    }
    header .navbar {
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        position: absolute;
        padding: 1.01rem;
        border-top: 1.01rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 1.01rem solid rgba(0, 0, 0, 0.2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        font-size: 2.01rem;
        background: #eee;
        display: block;
        padding: 1.51rem;
        margin: 1.01rem;
    }
    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }
    .home .home-container .home-swipe-slide .home-content h3 {
        font-size: 5rem;
    }
    .home .home-container .home-swipe-slide {
        flex-wrap: nowrap;
    }
    .home .home-container .home-swipe-slide .home-content p {
        font-size: 1.56rem;
    }
}
@media screen and (max-width: 450px) {
    .dishes .box-container .box img {
        height: auto;
        width: 100%;
    }
    .order form .inputBox .input{
        width: 100%;
    }
}